[tool.poetry]
name = "zrob"
version = "0.1.0"
description = ""
authors = ["Martin Baláž <martin.balaz@trojsten.sk>"]
license = "GPLv3"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
